h1 {
    font-weight: bold;
    border-bottom: 3px solid black;
}
h2 {
    color: red;
}
img {
    max-width: 100%;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}